<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2cbe0">  <td>18/06/18 19:59:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonPayRegistrationOVD.RechargeProcess()[pri:0, instance:amazonRegistrationOVD.AmazonPayRegistrationOVD@77cd7a0]">RechargeProcess</td> 
  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>18/06/18 19:59:15</td>   <td>7840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonPayRegistrationOVD.completeRegistration()[pri:0, instance:amazonRegistrationOVD.AmazonPayRegistrationOVD@77cd7a0]">completeRegistration</td> 
  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>18/06/18 19:58:43</td>   <td>-24806</td> <td>&nbsp;</td><td title="&gt;&gt;AmazonPayRegistrationOVD.setUp()[pri:0, instance:amazonRegistrationOVD.AmazonPayRegistrationOVD@77cd7a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>18/06/18 19:59:17</td>   <td>9027</td> <td>&nbsp;</td><td title="&lt;&lt;AmazonPayRegistrationOVD.tearDown()[pri:0, instance:amazonRegistrationOVD.AmazonPayRegistrationOVD@77cd7a0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
</table>
